<div style="display: flex;flex-direction: row;justify-content: center;">

  <div>
    <mat-card *ngIf="!popup" (click)="onPopup()" class="popupCard" style="    margin-bottom: 10%;">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <input matInput type="text" placeholder="Take a Note..." class="topinput" style="font-size: 18px">

          <button mat-icon-button matTooltip="Brush" routerLink="/dashboard" style="margin-right: 3px">
            <mat-icon style="font-size: 18px !important">brush</mat-icon>
          </button>

          <button mat-icon-button matTooltip="Image" routerLink="/dashboard" style="margin-right: 3px">
            <mat-icon style="font-size: 18px !important">photo</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </div>


  <div flex=100 fxLayoutAlign="center center" style="margin-top: 2%">
    <mat-card *ngIf="popup" fxLayoutAlign="start center" style=" margin-bottom: 5%;">

      <div style=" display: flex;flex-direction: column;">
        <div>
          <input matInput type="text" placeholder="title" class="input"  style="    font-size: 18px;" />
          <button matTooltip="pinned" style="background-color: white;border-width: 0px;">

            <!-- <div><img src="../../../assets/pinned.svg"></div> -->
          </button>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start">
          <input matInput type="text" placeholder="Take a Note..."  class="input" style="font-size: 14px;"
            style="margin-top:-20px"
            style="color: #202124;direction: ltr;font-family: 'Roboto',arial,sans-serif;font-size: 20px;" />
        </div>
        <div style="display: flex;flex-direction: row;">

          <div>
            <button mat-icon-button matTooltip="Reminder">
              <mat-icon style="font-size: 17px !important">add_alert</mat-icon>
              <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->
            </button>
          </div>

          <div>
            <button mat-icon-button matTooltip="Collaborate" routerLink="/dashboard">
              <mat-icon style="font-size: 17px !important">group_add</mat-icon>
            </button>
          </div>

          <div>
            <button mat-icon-button matTooltip="Change Color" routerLink="/dashboard">
              <mat-icon style="font-size: 17px !important">color_lens</mat-icon>
            </button>
          </div>

          <div>
            <button mat-icon-button matTooltip="Add Image" routerLink="/dashboard">
              <mat-icon style="font-size: 17px !important">image</mat-icon>
            </button>
          </div>

          <div>
            <button mat-icon-button matTooltip="Archive" routerLink="/dashboard">
              <mat-icon style="font-size: 17px !important">archive</mat-icon>
            </button>
          </div>

          <div>
            <button mat-icon-button matTooltip="More Option" routerLink="/dashboard">
              <mat-icon style="font-size: 17px !important">more_vert</mat-icon>
            </button>
          </div>

          <div>
            <button mat-icon-button matTooltip="Undo" routerLink="/dashboard">
              <mat-icon style="font-size: 17px !important">undo</mat-icon>
            </button>
          </div>
          <div>
            <button mat-icon-button matTooltip="Redo" routerLink="/dashboard">
              <mat-icon style="font-size: 16px !important">redo</mat-icon>
            </button>
          </div>

     

          <div class="divspace">
            <!-- <button mat-icon-button matTooltip="New note with drawing" routerLink="/dashboard"> -->
            <button mat-button matTooltip="close" (click)="close()">Close</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
