<div>
    <div fxLayout="row wrap" style="visibility: visible">
  
      <mat-chip-list #chipList>
        <mat-chip *ngIf="notereminder!=null" class="chips">
          <mat-icon>schedule</mat-icon>
          {{notereminder |  date:'medium'}}
          <mat-icon matChipRemove (click)="removeremainder()">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
  
  
      <div *ngFor="let collabitems of collabUsers">
        <mat-icon matTooltip={{collabitems.email}} (click)=openCollabDialog()>account_circle</mat-icon>
      </div>
  
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let items of labelsOfNotes" class="chips">
          {{ items.labelName }}
          <mat-icon matChipRemove (click)="removeLabelFromNote(items)">cancel</mat-icon>
        </mat-chip>
  
      </mat-chip-list>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between start">
      <button mat-icon-button>
        <img src="../../../assets/color.svg" matTooltip="Color" [matMenuTriggerFor]="color" mat-button
          style="height: 20px;width: 20px;">
      </button>
      <button mat-icon-button>
        <img src="../../../assets/image.svg" matTooltip="Image" mat-button style="height: 20px;width: 20px;">
      </button>
    
      <button mat-icon-button (click)=archive()>
        <img src="../../../assets/archieve.svg" matTooltip="Archieve" mat-button style="height: 20px;width: 20px;">
      </button>
      <button mat-icon-button>
        <img src="../../../assets/more.svg" matTooltip="More" mat-button [matMenuTriggerFor]="moreBtn"
          style="height: 20px;width: 20px;">
      </button>
  </div>
