.sidenav
{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  
}
.search{
    background-color:f0f2f4;
    border-radius: 1%;
}

.mat1{
    width: 190px;
     
    z-index: 10;
    float: right;
    margin-bottom: -72px;
}