<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon matTooltip="Main menu">menu</mat-icon>
        </button>
      </div>
      <div>
        <img src="../../../assets/keepIcon.png">
      </div>
      <div fxHide.xs>
        <h3 style="padding-top: 3%; padding-left: 5%;">FundooNotes</h3>
      </div>
    </div>


    <div fxFlex="60" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center center">
      <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search"
        style="margin-left: 10%;width: 200%;">
        <button mat-icon-button class="search-button">
          <mat-icon matTooltip="Search">search</mat-icon>
        </button>
        <input fxFlex="100" matInput placeholder="Search" [style.fontSize.px]="16"
          (input)="onSearchChange($event.target.value)" class="search-window" autocomplete="off" />
      </mat-form-field>
    </div>

    <div fxLayout="row" style="margin-left: 50px;" fxLayoutAlign="space-between center" fxLayoutWrap fxLayoutGap="15%">
      <div fxFlex="40">
        <button mat-icon-button color="basic" (click)="onSearchChange($event.target.value)" id="refresh" matTooltip="Refresh">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

      <button mat-icon-button class="iconbtn" *ngIf="list" (click)="changeView()" fxShow="true" fxHide.lt-sm="true">
        <mat-icon class="icon">view_agenda</mat-icon>
    </button>

    <button mat-icon-button class="iconbtn" *ngIf="grid" (click)="changeView()" fxShow="true" fxHide.lt-sm="true">
        <mat-icon class="icon">view_module</mat-icon>
    </button>

      <div fxFlex="40">
        <img src="../../../assets/setting.svg">
      </div>

      <!-- <div fxFlex="40">
        <button mat-mini-fab color="grey" mat-icon-button [matMenuTriggerFor]="accountmenu"
          aria-label="Example icon-button with a menu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div> -->

      <div fxLayout="row" fxFlex=30>
        <!-- <button mat-icon-button fxShow="true">
          <mat-icon>apps</mat-icon>
        </button> -->

        <button mat-icon-button (click)="account()" fxShow="true">
          <img src="{{image}}" style="width:40px;height:40px;border-radius:50px;margin-bottom: 0px;margin-left: 15px">
          <!-- <mat-icon> account_circle</mat-icon> -->

        </button>
      </div>
    </div>
  </mat-toolbar>

     <mat-menu #accountmenu="matMenu">

  </mat-menu>
</div>
<div>
  <mat-card class="mat1" *ngIf="open">
    <div fxLayout="row" fxLayoutGap="100px">

      <button mat-icon-button color="primary" routerLink='/register'>Add Account</button>
      <button mat-icon-button color="primary" routerLink='/login'> SignOut</button><br>
    </div>
  </mat-card>
</div>





<div class="divider">
  <mat-divider></mat-divider>

  <mat-sidenav-container style="height:200vh;">
    <mat-sidenav #sidenav style="width: 196px;" mode="side">
      <mat-nav-list class="navlist">
        <mat-list>

          <div>
            <button mat-button [routerLink]="['note']">
              <mat-icon>lightbulb_outline</mat-icon> Notes
            </button>
          </div>

          <div>
            <button mat-button [routerLink]="['reminder']">
              <mat-icon>notifications_none</mat-icon> Remainder
            </button>
          </div>
          <hr>

          <div style="padding-left:15%;">
            <h4 style="font-weight: bold; font-weight: 900;">LABELS</h4>
          </div>
          <div>
            <div *ngFor="let items of allLabels" fxLayout="row">
              <button mat-button>
                <img src="../../../assets/arrow.svg" style="height: 20px;width: 20px;">
                <span style="padding-left:13%;">{{ items.labelName }}</span>
              </button>

            </div>
            <button mat-button (click)=openDialogLabel()>
              <mat-icon>edit</mat-icon> Edit Labels
            </button>
          </div>

          <hr>
          <div>
            <button mat-button [routerLink]="['archive']">
              <mat-icon>archive</mat-icon> Archive
            </button>
          </div>
          <div>
            <button mat-button [routerLink]="['trash']">
              <mat-icon>delete</mat-icon> Trash
            </button>
          </div>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav">
      <!-- <app-addnote></app-addnote> -->

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>