<div  >
  <mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="start start">
        <div>
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon matTooltip="Main menu">menu</mat-icon>
            </button>
          </div>
          <div>
            <img   src="../../../assets/keepIcon.png">
          </div>
          <div fxHide.xs>
            <h3 style="padding-top: 3%; padding-left: 5%;">FundooNotes</h3>
          </div>
    </div>
    

    <div fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search"
          style="margin-left: 10%;width: 200%;">
          <button mat-icon-button class="search-button">
            <mat-icon matTooltip="Search">search</mat-icon>
          </button>
          <input fxFlex="90" matInput placeholder="Search" [style.fontSize.px]="16" (input)="onSearchChange($event.target.value)" class="search-window" autocomplete="off"/>
        </mat-form-field>
      </div>

    <div  fxLayout="row" fxLayoutAlign="space-between center" style="width: 20%;margin-left: 3%;" >
        <div fxFlex="20">
            <button mat-icon-button color="basic" (click)="refresh()" id="refresh" matTooltip="Refresh">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
          <div fxFlex="20">
            <button mat-icon-button matTooltip="list view">
              <mat-icon style="font-size:25px">list</mat-icon>
            </button>
          </div>
          <div fxFlex="20">
              <img   src="../../../assets/setting.svg">
          </div>
          
             <div fxFlex="20">
            <button mat-mini-fab color="grey" mat-icon-button [matMenuTriggerFor]="accountmenu" aria-label="Example icon-button with a menu">
              <mat-icon>account_circle</mat-icon></button>
          </div>
           
         <!--
          <div fxFlex="20">
            <button mat-mini-fab color="grey" mat-icon-button [matMenuTriggerFor]="accountmenu" >
              <img mat-card-avatar src="../../../assets/photo.jpg" />
            </button>
          </div>
        -->
           
    </div>
  </mat-toolbar>

   <mat-menu #accountmenu="matMenu">
     
   </mat-menu>
</div>
<mat-divider></mat-divider>
 