<div>
  <mat-toolbar fxAlign="row" fxLayoutGap="60px">


    <div fxAlign="row" fxLayoutAlign="space-evenly" fxLayoutGap="20px">
      <button mat-button>
        <mat-icon>menu</mat-icon>
      </button>
      <img src="../../../assets/keepIcon.png">
      <span>FundooNotes</span>
    </div>

    <div class="searchbar" fxAlign="row" fxLayoutAlign="space-evenly" fxLayoutGap="20px">
      <mat-icon>search</mat-icon>
      <input placeholder="search" class="input" />
    </div>

    <div aria-label="Refresh"  fxAlign="row" fxLayoutAlign="space-evenly" fxLayoutGap="2px">
      <button mat-button>
        <img src="../../../assets/refresh.svg">
      </button>
    </div>

    <div fxAlign="row" fxLayoutAlign="space-evenly" fxLayoutGap="2px">
      <button mat-button>
        <img src="../../../assets/listView.svg">
      </button>
    </div>
     

  </mat-toolbar>

</div>
<mat-divider></mat-divider>