<div class="main" fxLayout="column" fxLayoutAlign="center center" >
    <mat-card class="matCard">
      <mat-card-title class="matCardTitle" fxLayoutAlign="center center">
        <h3 class="headerthree">FundooNote Application</h3>
      </mat-card-title>
      <mat-card-subtitle class="matCardSubTitle" fxLayoutAlign="center center">
        <h3>ForgetPassword</h3>
      </mat-card-subtitle>
  
      <div class="example-container">
      <div>
        <mat-form-field appearance="outline" class="input-style">
          <mat-label>Email</mat-label>
          <mat-error *ngIf="email.invalid">{{emailError()}}</mat-error>
          <input type="email" matInput placeholder="" [formControl]="email" >
        </mat-form-field>
      </div>    
  <div class="button">
      
  
        
        <button mat-raised-button color="primary"  routerLink='/login'> Submit </button>
      </div>
  
  
  </div>
  </mat-card>
  </div>