.cardcontaint{
    padding-top: 1%;
}

.matCard{
    min-height: 75px;
    width: 277px;
    border-radius: 20px
}

.title{
    letter-spacing: .00625em;
    word-wrap: break-word;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.description{
    letter-spacing: .00625em;
    word-wrap: break-word;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}
mat-card:hover{
    .icon{
        visibility: visible;
    }
}

.icon{
    visibility: hidden;
}
.matpad2
{
  // height: 110px;
  height: max-content;
  width: 227px;
  padding-left: 100px;
}
 

.matpad3
{
    height: max-content;
    width: 547px;
    padding-left: 50px;
}